.container {
    width: 500px;
    height: 250px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 500px;
    padding-top: 300px;
  }
  

#like{
    height: 100px;
    width: 350px;
    background: #4949da;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

#like:hover{
    color: #ffffff;
}