.container {
    width: 500px;
    height: 250px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 500px;
    padding-top: 300px;
    gap: 10px;
  }
  

#like, #comment{
    height: 100px;
    width: 350px;
    background: #4949da;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

 #like:hover{
    color: #ffffff;
}

#comment{
    background: #ffffff;
    border: 2px solid black;
}
#comment:hover{
    background: #000000;
    color: #ffffff;
}